{% extends "base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.owner.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href='#'>{{ object.owner }}</a>
                <small class="text-muted">{{ object.timebooked|date:"d/m/y - H:i e" }}</small>
            </div>
            <h2 class="article-title"> {{ object.title }}</h2>
            <h2 class="article-title"> Room: {{ object.room }}</h2>
            <h2 class="article-title"> Start Time: {{ object.starttime }}</h2>
            <h2 class="article-title"> End Time: {{ object.endtime }}</h2>
        </div>
    </article>
{% endblock content %}